[submodule "glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "stb"]
	path = ThirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "json"]
	path = ThirdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "fmt"]
	path = ThirdParty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "bustache"]
	path = ThirdParty/bustache
	url = https://github.com/jamboree/bustache.git
